@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&family=Silkscreen&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Silkscreen', 'Orbitron', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar */
#top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4vw 5vw;
    border-bottom: 0.4vw solid rgb(78, 71, 155);
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

#top img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 4.5vw;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    padding: 1vw 1.4vw;
    margin: 0 0 0 0;
    border: 0.15vw solid transparent;
    border-radius: 0.5vw;
    font-weight: bolder;
    transition: 0.1s ease-in-out;
}


#nav-link1 {
    animation: nav-links-anim 1s ease-in-out;
}

#nav-link2 {
    animation: nav-links-anim 1.25s ease-in-out;
}

#nav-link3 {
    animation: nav-links-anim 1.5s ease-in-out;
}

#nav-link4 {
    animation: nav-links-anim 1.7s ease-in-out;
}

#nav-link5 {
    animation: nav-links-anim 2s ease-in-out;
}

nav a:hover {
    transition: 0.1s ease-in;
    border: 0.15vw solid rgb(74, 79, 115);
    background-color: rgb(38, 43, 74);
    color: white;
    box-shadow: -2px 3px 5px rgb(0, 0, 0);
}




/* Headline */
header {
    text-shadow: 0 0 0.4vw rgb(255, 255, 255);
    color: white;
    display: flex;
    flex-direction: column;
    background-image: url(../images/header-img.png);
    background-position: center;
    background-size: cover;
    border-bottom: 0.4vw solid rgb(78, 71, 155);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 5vw 0;
    min-height: 25vw;
}


h1 {
    width: 0;
    font-size: 4.8rem;
    margin: 0 0 2vw;
    overflow: hidden;
    position: relative;
    animation: type-effect 1.8s steps(1) forwards 1.5s;
}

.typing-flicker {
    opacity: 0;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
    text-shadow: none;
    animation: cursor-on 0.1s linear forwards 1.5s, flickering 1.1s steps(1) infinite 3.8s;
}


#header-text {
    animation: header-start-anim 2.5s ease-in-out forwards, header-perm-anim 3s ease-in-out infinite 2.6s;
}

#welcome-header {
    display: inline-flex;
    flex-direction: row;
}

.highlighted-header-text {
    color: #ffffff;
    text-shadow: 0 0 0.2vw #ffffff, 0 0 0.3vw #dacdff,
        0 0 0.35vw #cfbfff;
    font-weight: 999;
}

#header-links {
    display: flex;
    opacity: 0;
    animation: header-links-anim 2s ease-in-out forwards;
    animation-delay: 400ms;
    gap: 2vw;
}

header p {
    width: 60vw;
    margin: 0 0 3vw 0;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    border-radius: 0.5vw;
    font-weight: bolder;
    transition: 0.1s ease-in-out;
    padding: 0.75vw 1.15vw;
    border: 0.15vw solid rgb(74, 79, 115);
}

header a:hover {
    transition: 0.15s ease-in-out;
    background-color: white;
    color: black;
    box-shadow: 0 0 1vw rgb(255, 255, 255);
    transform: scale(1.065);
}

#work-ref {
    margin: 0;
    padding: 0;
    opacity: 0;
}

@keyframes nav-links-anim {
    from {
        opacity: 0;
        transform: translateY(-80%);
    }

    70% {
        transform: translateY(15%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes header-perm-anim {
    0% {
        transform: translateY(-2.5%);
    }

    50% {
        transform: translateY(2.5%);
    }

    100% {
        transform: translateY(-2.5%);
    }
}


@keyframes header-start-anim {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }

    65% {
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(-2.5%);
    }
}

@keyframes header-links-anim {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes type-effect {
    0% {
        width: 0;

    }

    12.5% {
        width: 14%;
    }

    25% {
        width: 25%;
    }

    37.5% {
        width: 35%;
    }

    50% {
        width: 48%;
    }

    62.5% {
        width: 60%;
    }

    75% {
        width: 75%;
    }

    87.5% {
        width: 87.5%;
    }

    100% {
        width: 100%;
    }
}

@keyframes flickering {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes cursor-on {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Subheading */
#my-work-section {
    padding-bottom: 3vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3vw solid rgb(43, 36, 118);
}

#my-work-section h2 {
    margin: 3vw 0;
    font-size: 3rem;
}

#best-builds {
    display: flex;
    justify-content: center;
    gap: 4vw;
    max-width: 95vw;
}

article {
    transition: 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(38, 43, 74);
    border: 0.4vw rgb(74, 79, 115) solid;
    border-radius: 1vw;
    color: white;
    max-height: 100%;
    filter: brightness(0.85);
    box-shadow: 0 0 0.7vw rgb(0, 0, 0),
        0 0 1.5vw rgb(23, 22, 40);
}

article h3 {
    font-size: 1.3rem;
}

.center-article-text {
    text-align: center;
    width: 100%;
}

.center-article-text span {
    font-size: 2rem;
    margin-bottom: 1vw;
}

.article-text {
    padding: 0 1vw 1vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.article-text-bottom {
    display: flex;
}

.yellow-star {
    color: gold;
    text-shadow: none;
}

.gray-star {
    color: rgb(102, 108, 147);
    text-shadow: none;
}

article img {
    border-top-right-radius: 0.7vw;
    border-top-left-radius: 0.7vw;
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-bottom: 0.4vw rgb(74, 79, 115) solid;
}

article:hover {
    scale: 1.05;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 2vw rgb(164, 197, 255),
        0 0 2.5vw rgb(51, 76, 176);
    text-shadow: 0 0 0.15vw rgb(255, 255, 255);
    filter: brightness(1.1);

}

article a {
    transition: 0.15s ease-in-out;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    border-radius: 0.8vw;
    padding: 1vw;
    border: 0.15vw solid rgb(74, 79, 115);
}

article a:hover {
    transition: 0.1s ease-in-out;
    background-color: rgb(255, 255, 255);
    border: 0.15vw solid rgb(74, 79, 115);
    color: black;
    box-shadow: 0 0 0.5vw rgb(255, 255, 255);
    transform: scale(1.065);
}

#contact-ref {
    margin: 0;
    padding: 0;
    opacity: 0;
}


/* Form */
#form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.4vw solid rgb(78, 71, 155);
    padding-bottom: 9vw;
    background-color: rgb(194, 194, 241);
}

form {
    display: grid;
    column-gap: 5%;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 600px;
    min-width: fit-content;
    padding: 1vw 2vw;
    background-color: rgb(38, 43, 74);
    color: white;
    border: 0.4vw solid rgb(74, 79, 115);
    border-radius: 0.8vw;
    scale: 1.15;
    transform: translateY(7%);
    box-shadow: 0 0 0.7vw rgb(0, 0, 0),
        0 0 1.5vw rgb(23, 22, 40);
}

.wide-item {
    grid-column-start: 1;
    grid-column-end: 3;
}

#form-section h2 {
    text-align: center;
    font-size: 3rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

form button {
    display: flex;
    padding: 0.4vw 8vw;
    margin: 1.1vw 0 0;
    font-size: 1.4rem;
    font-family: Orbitron;
    max-width: 50%;
    align-self: center;
    justify-content: center;
    border-radius: 0.4vw;
    color: white;
    background-color: rgb(38, 43, 74);
    border: 0.2vw solid rgb(74, 79, 115);
    transition: 0.15s ease-in-out
}

form button:hover {
    transition: 0.1s ease-in-out;
    background-color: white;
    color: black;
    box-shadow: 0 0 0.75vw rgb(255, 255, 255);
    transform: scale(1.05);
}

input,
textarea,
select {
    padding: 0.5vw;
    border-radius: 0.4vw;
    border: 0.3vw solid rgb(74, 79, 115);
    margin: 0.3vw 0 1.1vw;
    font-family: Orbitron;
    font-size: 1.1rem;
    outline: none;
    transition: 0.15s ease-in-out;
}

textarea {
    transition: none;
    min-width: 100%;
    max-width: 0;
    min-height: 5vw;
    max-height: 15vw;
}

input:valid,
select:valid {
    transition: 0.15s ease-in-out;
    border: 0.3vw solid rgb(163, 170, 219);
}

input:focus:invalid {
    transition: 0.15s ease-in-out;
    border: 0.3vw solid rgb(151, 29, 29);
}


/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(23, 22, 40);
    color: white;
}

#footer-left {
    display: flex;
    flex-direction: column;
    padding: 0.5vw 3vw;
}

#footer-left-top {
    margin-bottom: 3vw;
}

#footer-left-bottom {
    display: flex;
    flex-direction: row;
    gap: 0.6vw
}

#footer-left-bottom img {
    transition: 0.15s ease-in-out;
    filter: brightness(0.7)
}

#footer-left-bottom img:hover {
    transition: 0.15s ease-in-out;
    filter: brightness(1);
    scale: 1.2
}

#footer-right {
    display: flex;
    flex-direction: row;
    padding: 3vw;
    gap: 2vw;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
}

#logo {
    margin: 0;
    padding: 0;
    height: 6rem;
    filter: invert();
}

footer a {
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
    text-decoration: none;
    color: rgb(97, 102, 143);
}

footer p {
    margin: 0;
    padding: 0;
}

footer a:hover {
    transition: 0.15s ease-in-out;
    color: rgb(187, 193, 234);
}

#easter-egg {
    text-align: center;
    transform: translateY(20%);
}

#easter-egg span {
    opacity: 0;
    font-size: 0.7rem;
}

#easter-egg:hover span {
    transition: 0.3s ease-in-out;
    opacity: 1;
}

footer img {
    height: 2.5rem;
    object-fit: cover;
}


/* Media Queries ;O */
@media (max-width:480px) {

    /* Navbar Media Query */
    #top {
        flex-direction: column;
        position: relative;
        border-bottom: 0.8vw solid rgb(78, 71, 155);
        padding: 0.4vw 0 2vw;
    }

    #top img {
        width: 20vw;
    }

    nav {
        text-align: center;
        flex-direction: column;
    }

    nav a {
        padding: 1vw 25vw;
    }


    /* Headline Media Query */
    header {
        display: flex;
        font-size: 1.5rem;
        border-bottom: 0.8vw solid rgb(78, 71, 155);
    }

    h1 {
        font-size: 3.5rem;
    }

    #header-text {
        padding-bottom: 2vw;
    }

    header p {
        width: 90vw;
    }

    #header-links {
        width: 80vw;
    }

    header a {
        border: 0.4vw solid rgb(74, 79, 115);
    }

    .typing-flicker {
        font-size: 3.5rem;
    }


    /* Subheading Media Query */
    #my-work-section {
        border-bottom: 0.8vw solid rgb(78, 71, 155);
    }

    #best-builds {
        display: flex;
        flex-direction: column;
    }

    #my-work-section h2 {
        text-align: center;
    }

    article {
        border: 1vw rgb(74, 79, 115) solid;
        text-align: left;
    }

    article img {
        border-bottom: 0.8vw solid rgb(78, 71, 155);
    }

    .article-text {
        padding: 0 0 5vw 5vw;
    }

    .center-article-text {
        text-align: left;
        width: 100%;
    }

    .center-article-text span {
        font-size: 2rem;
        margin-bottom: 1vw;
    }

    article a {
        border: 0.4vw solid rgb(74, 79, 115);
    }


    /* Form Media Query */
    #form-section {
        padding-bottom: 27vw;
        border-bottom: 0.8vw solid rgb(78, 71, 155);
    }

    form {
        width: 80vw;
        min-width: 80vw;
        padding: 5vw;
        border: 0.8vw rgb(74, 79, 115) solid;
        border-radius: 3vw;
        row-gap: 2.5vw;
    }

    .grid-item {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    input,
    textarea,
    select {
        padding: 1.7vw;
        border-radius: 0.4vw;
        border: 0.3vw solid rgb(74, 79, 115);
        margin: 0.3vw 0 0;
        font-family: Orbitron;
        font-size: 0.7rem;
    }

    textarea {
        min-height: 10vw;
        max-height: 22vw;
    }

    /* Footer Media Query */
    footer {
        flex-direction: column;
        padding: 3.8vw;
    }

    #footer-right {
        margin-top: 6vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #easter-egg {
        transform: translateX(-6%);
    }
}